html,body{
    height: 100%; 
    margin: 0;
}
#main-container{
    width:100%;
    height:100%;
    
}
b{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    font-size: 30px;
}
h2{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color:#FFC733;
}
#header-container1{
    background-color:white;  
    height:20%; 
    width:20%;
    text-align:right;
    float:left;
}
#header-container2{
  background-color:white;  
  height:20%; 
  width:79%;
  text-align:right;
  float:left;
}
#left-container{
    background-color:#F5B041; 
    height:75%; 
    width:20%; 
    float:left;
}
#body-container{
    background-color:white;
    height:75%;
    width:79%;
    float:left;
}
#footer-container{
    background-color:white; 
    height:auto;
    width:auto;
}
/* unvisited link */
a{
  text-decoration: none;
  font-size: 20px;
}
a:link {
    color:white;
}
  
  /* visited link */
  a:visited {
    color:black;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
 #header-container b{
      font-style: italic;
      font-size: 30px;
  }

  #left-container b{
    font-style: italic;
    font-size: 20px;
  }
  iframe{
    height:100%;
    width:100%;
    overflow:hidden;
    border:none;
  }
  img{
    height:118px;
    width: 118px;
    border:darkgrey;
}
 p{
   color: tomato;
   font-style: bold;
 }